
h1 {
    text-align: center;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3rem;

}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.content {
    list-style-type: none;
    font-size: 20px;
    text-align: center;
}

img {
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 5%;
}

.container {
    padding: 16px;
    border: 4px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    gap: 8px;
    border: 1px solid black;
    background: mintcream;
}

.item {
    background: white;
    padding: 4px;
    margin-left: 70px;
    border: 1px solid black;
}
